In [77]:
import pandas as pd
import numpy as np

In [78]:
demand = pd.read_csv('JanWeeklyDemand.csv')
demand['ItemCode'] = demand['ItemCode'].str.lstrip('0')
demand['Inventory Date'] = pd.to_datetime(demand['Inventory Date']).astype('datetime64[D]')

weeks = demand['Inventory Date'].unique()
weeks = weeks.astype('datetime64[D]')
plist = demand['ItemCode'].unique()
parts=[]
for p in plist:
    if p[0:2] == 'SR':
        p2 = p[2:]
    else:
        p2 = p
    parts.append(p2.lstrip('0'))
# totals = pd.read_csv('2018InventoryTotals.csv')
# totals['ItemCode'] = totals['ItemCode'].str.lstrip('0')
# totals = totals.set_index('ItemCode')

#totaldata = pd.read_csv('2018InventoryTotals.csv')
totaldata = pd.read_csv('2018 - January 7 Inventory Totals.csv')
nosr = []
totaldata['ItemCode'] = totaldata['ItemCode'].str.lstrip('0')
for c in totaldata['ItemCode']:
    c = str(c)
    if c[0:2] == 'SR':
        c2 = c[2:]
    else:
        c2 = c
    nosr.append(c2)
totaldata['ItemCode'] = nosr    
totaldata = totaldata.groupby(by = ['ItemCode']).sum()

In [79]:
nosr2 = []
for d in demand['ItemCode']:
    if d[0:2] == 'SR':
        d2 = d[2:]
    else:
        d2 = d
    nosr2.append(d2)
demand['ItemCode'] = nosr2    

demand = demand.groupby(['Inventory Date', 'ItemCode']).sum()

In [80]:
# Example Total selection: 
#totaldata['TotalUnits']['271']
totaldata['InventoryQuantity']['11']

59535

In [81]:
# Example Demand Selection: 
demand['Weekly Demand'][weeks[1],'271']

58

In [82]:
l = []
for part in parts:
    for week in weeks:
        try:
            if totaldata['InventoryQuantity'][part] < demand['Weekly Demand'][week, part]:
                l.append([part,totaldata['InventoryQuantity'][part],demand['Weekly Demand'][week, part],str(week)])
        except KeyError:
            try:
                if part not in totaldata[['InventoryQuantity']]:
                #totals['TotalUnits'][part] = 0
                    i = 0
                    l.append([part,i,demand['Weekly Demand'][week, part],str(week)])
            except KeyError:
                pass

In [83]:
# l = []
# for part in parts:
#     for week in weeks:
#         try:
#             if totaldata['TotalUnits'][part] < demand['Weekly Demand'][week, part]:
#                 l.append([part,totaldata['TotalUnits'][part],demand['Weekly Demand'][week, part],str(week)])
#         except KeyError:
#             try:
#                 if part not in totaldata['TotalUnits']:
#                 #totals['TotalUnits'][part] = 0
#                     i = 0
#                     l.append([part,i,demand['Weekly Demand'][week, part],str(week)])
#             except KeyError:
#                 pass

In [84]:
d = {}
for part in parts:
    try:
        req = demand['Weekly Demand'][weeks[0],part] 
        + max(demand['Weekly Demand'][weeks[1],part] - demand['Weekly Demand'][weeks[0], part],0) 
        req = req + max(demand['Weekly Demand'][weeks[2],part] - req,0) 
        req = req + max(demand['Weekly Demand'][weeks[3],part] - req,0)
        d[part] = req
    except KeyError:
        d[part] = 0
        
        
        
        
        
        
        
        
#         try:
#             req = demand['Weekly Demand'][part[2:], dates[0]] 
#             + max(demand['Weekly Demand'][part[2:], dates[1]] - demand['Weekly Demand'][part[2:], dates[0]],0) 
#             req = req + max(demand['Weekly Demand'][part[2:], dates[2]] - req,0) 
#             req = req + max(demand['Weekly Demand'][part[2:], dates[3]] - req,0)
#             d[part] = req
#         except KeyError:
#             pass

In [85]:

for part in parts:
    try:
        if totaldata['InventoryQuantity'][part] < d[part]:
            l.append([part,totaldata['InventoryQuantity'][part],d[part],np.NaN])
    except KeyError:
        try:
            if part not in totaldata['InventoryQuantity']:
            #totals['TotalUnits'][part] = 0
                i = 0
                l.append([part,i,d[part],np.NaN])
        except KeyError:
            pass
        
        
        
        
        
        
        
        
#         try:
#             if totals['TotalUnits'][part] < d[part[2:]]:
#                 l.append([part,totals['TotalUnits'][part],d[part]])
#         except KeyError:

In [86]:
l

[['10795', 42, 44, '2018-01-21'],
 ['1121', 8, 13, '2018-01-07'],
 ['1133', 0, 48, '2018-01-28'],
 ['1579', 0, 668, '2018-01-07'],
 ['1579', 0, 668, '2018-01-14'],
 ['1579', 0, 668, '2018-01-21'],
 ['1579', 0, 668, '2018-01-28'],
 ['1991487', 0, 1, '2018-01-21'],
 ['1991487', 0, 1, '2018-01-28'],
 ['2053', 0, 535, '2018-01-07'],
 ['2053', 0, 523, '2018-01-14'],
 ['2053', 0, 512, '2018-01-21'],
 ['2053', 0, 511, '2018-01-28'],
 ['2190', 0, 1, '2018-01-07'],
 ['2190', 0, 1, '2018-01-14'],
 ['2190', 0, 1, '2018-01-21'],
 ['2190', 0, 1, '2018-01-28'],
 ['2199', 0, 21, '2018-01-07'],
 ['2199', 0, 21, '2018-01-14'],
 ['2199', 0, 21, '2018-01-21'],
 ['2199', 0, 21, '2018-01-28'],
 ['3561', 232, 298, '2018-01-21'],
 ['3561', 232, 260, '2018-01-28'],
 ['404', 26, 27, '2018-01-28'],
 ['4765', 0, 1, '2018-01-07'],
 ['526', 71, 82, '2018-01-28'],
 ['5321', 0, 8, '2018-01-07'],
 ['7018', 0, 13, '2018-01-07'],
 ['7018', 0, 13, '2018-01-14'],
 ['7018', 0, 13, '2018-01-21'],
 ['7018', 0, 13, '2018-01-28'],
 ['7230264', 0, 1000, '2018-01-14'],
 ['7230264', 0, 1000, '2018-01-21'],
 ['7230264', 0, 1000, '2018-01-28'],
 ['7230455', 0, 200, '2018-01-14'],
 ['7230455', 0, 200, '2018-01-21'],
 ['7230455', 0, 200, '2018-01-28'],
 ['7471', 6, 8, '2018-01-14'],
 ['7471', 6, 8, '2018-01-21'],
 ['7471', 6, 12, '2018-01-28'],
 ['AL1S', 58, 150, '2018-01-28'],
 ['ALT3', 102, 146, '2018-01-28'],
 ['LB10904', 0, 7, '2018-01-28'],
 ['LB10905', 0, 24, '2018-01-07'],
 ['LB10908', 142, 148, '2018-01-07'],
 ['MESH2X4', 0, 8, '2018-01-07'],
 ['SLH22', 552, 566, '2018-01-07'],
 ['100852', 0, 1, '2018-01-21'],
 ['100852', 0, 1, '2018-01-28'],
 ['225006', 0, 4, '2018-01-21'],
 ['225006', 0, 4, '2018-01-28'],
 ['225016', 0, 1, '2018-01-14'],
 ['225016', 0, 1, '2018-01-21'],
 ['225016', 0, 1, '2018-01-28'],
 ['404', 26, 27, '2018-01-28'],
 ['ALJ21', 0, 53, '2018-01-21'],
 ['ALJ21', 0, 53, '2018-01-28'],
 ['B10', 0, 18, '2018-01-07'],
 ['B10', 0, 18, '2018-01-14'],
 ['B10', 0, 18, '2018-01-21'],
 ['B10', 0, 18, '2018-01-28'],
 ['SFSJ36', 0, 52, '2018-01-21'],
 ['SFSJ36', 0, 52, '2018-01-28'],
 ['SLH22', 552, 566, '2018-01-07'],
 ['SRB', 0, 6, '2018-01-21'],
 ['SRB', 0, 6, '2018-01-28'],
 ['SRO', 0, 17, '2018-01-21'],
 ['SRO', 0, 17, '2018-01-28'],
 ['VFTP463087', 0, 450, '2018-01-21'],
 ['VFTP463087', 0, 450, '2018-01-28'],
 ['VFTP552147', 0, 820, '2018-01-07'],
 ['VFTP552147', 0, 820, '2018-01-14'],
 ['VFTP552147', 0, 820, '2018-01-21'],
 ['VFTP552147', 0, 820, '2018-01-28'],
 ['10795', 42, 44, nan],
 ['1121', 8, 13, nan],
 ['1133', 0, 0, nan],
 ['1579', 0, 668, nan],
 ['1991487', 0, 0, nan],
 ['2053', 0, 535, nan],
 ['2190', 0, 1, nan],
 ['2199', 0, 21, nan],
 ['3561', 232, 298, nan],
 ['404', 26, 27, nan],
 ['4765', 0, 0, nan],
 ['526', 71, 82, nan],
 ['5321', 0, 0, nan],
 ['7018', 0, 13, nan],
 ['7230264', 0, 0, nan],
 ['7230455', 0, 0, nan],
 ['7471', 6, 12, nan],
 ['AL1S', 58, 150, nan],
 ['ALT3', 102, 146, nan],
 ['LB10904', 0, 0, nan],
 ['LB10905', 0, 0, nan],
 ['LB10908', 142, 148, nan],
 ['MESH2X4', 0, 0, nan],
 ['SLH22', 552, 566, nan],
 ['100852', 0, 0, nan],
 ['225006', 0, 0, nan],
 ['225016', 0, 0, nan],
 ['404', 26, 27, nan],
 ['ALJ21', 0, 0, nan],
 ['B10', 0, 18, nan],
 ['SFSJ36', 0, 0, nan],
 ['SLH22', 552, 566, nan],
 ['SRB', 0, 0, nan],
 ['SRO', 0, 0, nan],
 ['VFTP463087', 0, 0, nan],
 ['VFTP552147', 0, 820, nan]]

In [87]:
# bad = []
# for p in l:
#     if p[0] not in bad:
#         bad.append(p[0])

In [88]:
#bad

In [89]:
# n = []
# for x in l:
#     if x[0][:2] == 'SR':
#         n.append([x[0][2:],x[1],x[2]])
#     else:
#         n.append(x)
# n

In [90]:
df = pd.DataFrame(l,columns = ['Item Code','Units in System','Demand','Date'])

In [91]:
np.count_nonzero(df['Item Code'].unique())

34

In [92]:
df.to_csv('DiscrepanciesNoSR2.csv')