In [1]:
import pandas as pd
import numpy as np
df = pd.read_csv('JanWeeklyDemand.csv')

In [2]:
items = df['ItemCode'].str.lstrip('0')
items = items.unique()
partlist=[]
for p in items:
    if p[0:2] == 'SR':
        p2 = p[2:]
    else:
        p2 = p
    partlist.append(p2)
items = pd.Series(partlist).unique()

In [3]:
branches = pd.read_csv('JanBranches.csv')

In [4]:
branches = branches['Branch'].values.tolist()

In [5]:
tuplist = []
for j in branches:
    for k in branches:
        for i in items: 
            tuplist.append((j,k,i))

In [6]:
data = pd.DataFrame(tuplist,columns = ['From','To','Item'])

In [8]:
data['Cost'] = np.random.randint(1,101,size = len(data))
data = data.groupby(by = ['From','To','Item']).mean()

In [9]:
data

                                        Cost
From          To            Item
Atlanta F&S   Atlanta F&S   0200600       41
                            0240600       43
                            0241000       40
                            0241200       51
                            0241250       37
                            0241600       89
                            0241601       15
                            0241608       36
                            0241616       53
                            0241690       43
                            0241800       90
                            0241812        8
                            0242000       15
                            0242001       52
                            0242008       71
                            0242010       12
                            0242012       34
                            0242070       30
                            0242400        5
                            0243000       83
                            0250000       96
                            0252416       27
                            0260001       72
                            0333008       67
                            100037        12
                            100040        69
                            100055        30
                            100057        55
                            100097        72
                            100124        57
...                                      ...
Vancouver F&S Vancouver F&S TUX150        39
                            TUX200        70
                            TUX250         4
                            TUX300        36
                            TUX400        27
                            TUX450        35
                            U000042       28
                            U043006      100
                            U190052       92
                            U190053       83
                            ULBSW2        39
                            VFTP463087    25
                            VFTP552147    44
                            W6X12X01      83
                            W6X12X04       1
                            W6X12X06      68
                            W6X12X08     100
                            W6X12X10      88
                            W6X12X12       3
                            W8X21X20      52
                            WPL21010      32
                            WPL21016      72
                            WPP21006      19
                            WPP21008       5
                            WPP21010      52
                            WPP21012       6
                            Y412          34
                            Y412XFB       12
                            Y412XI        14
                            Y412XWB       53

[447174 rows x 1 columns]

In [11]:
data.to_csv('RandomCosts.csv')

In [12]:
# Example of Selection: data['Cost']['Atlanta F&S','Atlanta F&S','002488US']