In [503]:
import pandas as pd
import numpy as np

In [504]:
df = pd.read_csv("JanuarySums.csv")

In [505]:
df['InventoryDate'] = pd.to_datetime(df['InventoryDate'])

In [506]:
#df = df.set_index(['Branch','ItemCode'])

In [507]:
dates = df['InventoryDate'].unique()

In [508]:
dates = pd.to_datetime(dates)

In [509]:
dates = dates.sort_values()

In [510]:
week1 = df.loc[df['InventoryDate'] == dates[0]]

In [511]:
week1.columns = ['InventoryDate','ItemCode','Branch','Week 1']

In [512]:
week2 = df.loc[df['InventoryDate'] == dates[1]]

In [513]:
week2.columns = ['InventoryDate','ItemCode','Branch','Week 2']

In [514]:
week3 = df.loc[df['InventoryDate'] == dates[2]]

week3.columns = ['InventoryDate','ItemCode','Branch','Week 3']

week4 = df.loc[df['InventoryDate'] == dates[3]]

week4.columns = ['InventoryDate','ItemCode','Branch','Week 4']

In [515]:
week1 = week1.set_index(['Branch','ItemCode'])
week2 = week2.set_index(['Branch','ItemCode'])
week3 = week3.set_index(['Branch','ItemCode'])
week4 = week4.set_index(['Branch','ItemCode'])

In [516]:
week1 = week1.drop('InventoryDate', axis = 1)
week2 = week2.drop('InventoryDate', axis = 1)
week3 = week3.drop('InventoryDate', axis = 1)
week4 = week4.drop('InventoryDate', axis = 1)

In [517]:
month = week1.join([week2,week3,week4])

In [518]:
month

                          Week 1  Week 2  Week 3  Week 4
Branch          ItemCode
Baltimore F&S   002488US    30.0    30.0    30.0    30.0
Great Lakes CC  002488US     4.0     4.0     4.0     4.0
Linden          002488US    24.0    24.0    34.0    36.0
Toronto F&S     121000      14.0    14.0    14.0    14.0
Fontana         121004       7.0     7.0     NaN     NaN
...                          ...     ...     ...     ...
Linden          Y412XWB     14.0    14.0    14.0    12.0
Sacramento Main Y412XWB     36.0    35.0    33.0    33.0
Seattle F&S     Y412XWB      1.0     1.0     1.0     1.0
Tampa F&S       Y412XWB     11.0     8.0     9.0     9.0
Vancouver F&S   Y412XWB     17.0    17.0    17.0    17.0

[8486 rows x 4 columns]

In [519]:
month = month.fillna(0)

In [520]:
month

                          Week 1  Week 2  Week 3  Week 4
Branch          ItemCode
Baltimore F&S   002488US    30.0    30.0    30.0    30.0
Great Lakes CC  002488US     4.0     4.0     4.0     4.0
Linden          002488US    24.0    24.0    34.0    36.0
Toronto F&S     121000      14.0    14.0    14.0    14.0
Fontana         121004       7.0     7.0     0.0     0.0
...                          ...     ...     ...     ...
Linden          Y412XWB     14.0    14.0    14.0    12.0
Sacramento Main Y412XWB     36.0    35.0    33.0    33.0
Seattle F&S     Y412XWB      1.0     1.0     1.0     1.0
Tampa F&S       Y412XWB     11.0     8.0     9.0     9.0
Vancouver F&S   Y412XWB     17.0    17.0    17.0    17.0

[8486 rows x 4 columns]

In [521]:
month['Monthly Demand'] = (month['Week 2'] - month['Week 1']) + (month['Week 3'] - month['Week 2']) + (month['Week 4'] - month['Week 3'])

In [523]:
month.to_csv('January2018.csv')